*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(red,green,yellow,orange);
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    background-color: rgb(9, 0, 19);
    width: 350px;
    height:250px;
    border-radius: 10px;
    position: relative;
}
.container h3{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: wheat;
}

.select-group{
    display: flex;
    flex-direction:row;
    align-items: center;

}
.select-group button{
    position: absolute;
    bottom: 0px;
}
.select-group input{
     width: 100%;
     padding: 15px;
     font-weight: 800;
     text-align: center;
     border: 2px solid rgb(87, 63, 109);
     border-radius: 5px;
     margin-top: 20px; 
     background-color: antiquewhite;
}
.select-group select{
    padding: 15px;
    border: 2px solid rgb(87, 63, 109);
    border-radius: 5px;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background-color: aquamarine;
}
.righbox{
    width: auto;
    background-color:red;
}
.select-group.selectbox{
      display: block;
}
button{
    background-color: yellow;
    width: 100%;
    color: rgba(250, 79, 11, 0.842);
    margin-bottom: 0px;
    padding: 10px;
    font-weight: 800;
    font-size: large;
    text-transform: uppercase;
    border-radius: 10px;
}
